$background-color: #0f172a;

body {
  background-color: $background-color;
  color: #e2e8f0;
  padding: 0 1rem;
}

a {
  color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.main-navigation {
  margin-bottom: 2rem;

  ul {
    gap: 1rem;
  }

  .menu-menu-1-container {
    border: 1px solid rgba(white, 0.5);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  }
}

.site-main {
  .type-events {
    background-color: #1e293b;
    margin-bottom: 1rem;
    padding: 0 1rem 1rem;
  }
}

.rsvp-button {
  padding: 0.5rem;
  border-color: #06b6d4;
  background-color: #0891b2;
  color: white;
  font-weight: bold;
}

.site-footer {
  text-align: center;
}
