@font-face {
    font-family: 'Open Sans', sans-serif;
    src: local('Open Sans'), local('OpenSans'),
        url('fonts/hinted-OpenSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
        url('fonts/hinted-OpenSans-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('fonts/hinted-OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: oblique;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('fonts/hinted-OpenSans-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
    